<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ app
  ~ Copyright (C)   2017  anty
  ~
  ~ This program is free  software: you can redistribute it and/or modify
  ~ it under the terms  of the GNU General Public License as published by
  ~ the Free Software  Foundation, either version 3 of the License, or
  ~ (at your option) any  later version.
  ~
  ~ This program is distributed in the hope that it  will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied  warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.   See the
  ~ GNU General Public License for more details.
  ~
  ~ You  should have received a copy of the GNU General Public License
  ~ along  with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cz.anty.purkynka">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <application
        android:name=".AppInit"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_config"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Launch">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".debug.DebugActivity"
            android:label="@string/title_activity_debug_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".easter.EasterEggActivity"
            android:label="@string/title_activity_easter_egg"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".update.ui.UpdateActivity"
            android:label="@string/title_activity_update"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".update.ui.ChangelogActivity"
            android:label="@string/title_activity_changelog"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".update.ui.VersionChangesActivity"
            android:label="@string/title_activity_version_changes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".account.ui.AccountCreateActivity"
            android:label="@string/title_activity_create_account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".account.ui.AccountEditActivity"
            android:label="@string/title_activity_edit_account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".grades.ui.SubjectActivity"
            android:label="@string/title_activity_subject"
            android:theme="@style/AppTheme.NoActionBar.Grades" />
        <activity
            android:name=".grades.ui.GradeActivity"
            android:label="@string/title_activity_grade"
            android:theme="@style/AppTheme.NoActionBar.Grades" />
        <activity
            android:name=".grades.widget.GradesWidgetConfigureActivity"
            android:label="@string/title_activity_grades_widget"
            android:theme="@style/AppTheme.NoActionBar.Grades">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lunches.ui.LunchOptionsGroupActivity"
            android:label="@string/title_activity_lunch_options_group"
            android:theme="@style/AppTheme.NoActionBar.Lunches" />
        <activity
            android:name=".lunches.ui.LunchBurzaActivity"
            android:label="@string/title_activity_lunches_burza_lunch"
            android:theme="@style/AppTheme.NoActionBar.Lunches" />

        <receiver
            android:name=".update.receiver.AppUpdatedReceiver"
            android:enabled="true"
            android:exported="false"
            android:process=":syncs">

            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="cz.anty.purkynka.update.FAKE_MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".wifilogin.receiver.WifiChangedReceiver"
            android:enabled="true"
            android:exported="false"
            android:theme="@style/AppTheme.WifiLogin"
            android:label="@string/label_receiver_wifi_changed"
            android:process=":syncs">

            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".grades.receiver.UpdateGradesSyncReceiver"
            android:enabled="true"
            android:exported="false"
            android:theme="@style/AppTheme.Grades"
            android:process=":syncs">

            <intent-filter>
                <action android:name="cz.anty.purkynka.account.ACTION_ACCOUNT_ADDED" />
                <action android:name="cz.anty.purkynka.account.ACTION_ACCOUNT_RENAMED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".grades.receiver.NewGradesChangesReceiver"
            android:enabled="true"
            android:exported="false"
            android:theme="@style/AppTheme.Grades"
            android:process=":syncs">

            <intent-filter android:priority="-1">
                <action android:name="cz.anty.purkynka.grades.sync.GradesSyncer.NEW_GRADES_CHANGES" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".grades.widget.GradesWidgetProvider"
            android:enabled="true"
            android:exported="false"
            android:theme="@style/AppTheme.Grades"
            android:label="@string/label_receiver_grades_widget"
            android:process=":widgets">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_grades_info" />
        </receiver>
        <receiver
            android:name=".grades.widget.GradesWidgetLaunchReceiver"
            android:enabled="true"
            android:exported="false"
            android:theme="@style/AppTheme.Grades"
            android:process=":widgets" />
        <receiver
            android:name=".grades.widget.GradesWidgetUpdateReceiver"
            android:enabled="true"
            android:exported="false"
            android:theme="@style/AppTheme.Grades"
            android:process=":widgets">

            <intent-filter android:priority="-1">
                <action android:name="cz.anty.purkynka.grades.widget.UPDATE_ITEMS" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".grades.widget.GradesWidgetResetReceiver"
            android:enabled="true"
            android:exported="false"
            android:theme="@style/AppTheme.Grades"
            android:process=":widgets">

            <intent-filter>
                <action android:name="cz.anty.purkynka.account.ACTION_ACCOUNTS_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".lunches.receiver.UpdateLunchesSyncReceiver"
            android:enabled="true"
            android:exported="false"
            android:theme="@style/AppTheme.Lunches"
            android:process=":syncs">

            <intent-filter>
                <action android:name="cz.anty.purkynka.account.ACTION_ACCOUNT_ADDED" />
                <action android:name="cz.anty.purkynka.account.ACTION_ACCOUNT_RENAMED" />
            </intent-filter>
        </receiver>
        <!-- TODO: next lunch widget -->

        <service
            android:name=".account.service.AuthenticatorService"
            android:enabled="true"
            android:exported="false"
            android:label="@string/label_service_authenticator"
            android:process=":accounts">

            <intent-filter android:label="@string/label_service_authenticator">
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".grades.sync.GradesSyncService"
            android:enabled="true"
            android:exported="true"
            android:theme="@style/AppTheme.Grades"
            android:label="@string/label_service_sync_grades"
            android:process=":syncs">

            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_grades" />
        </service>
        <service
            android:name=".grades.widget.GradesWidgetAdapterService"
            android:enabled="true"
            android:exported="false"
            android:theme="@style/AppTheme.Grades"
            android:label="@string/label_service_widget_grades"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:process=":widgets" />
        <service
            android:name=".lunches.sync.LunchesSyncService"
            android:enabled="true"
            android:exported="true"
            android:theme="@style/AppTheme.Lunches"
            android:label="@string/label_service_sync_lunches"
            android:process=":syncs">

            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_lunches" />
        </service>
        <service
            android:name=".lunches.sync.LunchesBurzaWatcherService"
            android:enabled="true"
            android:exported="false"
            android:theme="@style/AppTheme.Lunches"
            android:label="@string/label_service_lunches_burza_watcher"
            android:process=":syncs" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="cz.anty.purkynka.files"
            android:exported="false"
            android:grantUriPermissions="true"
            android:process=":providers">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_files_paths" />
        </provider>
        <provider
            android:name=".settings.AppPreferencesProvider"
            android:authorities="cz.anty.purkynka.preferences"
            android:exported="false"
            android:label="@string/label_provider_app_preferences"
            android:process=":providers" />
        <provider
            android:name=".account.save.ActiveAccountProvider"
            android:authorities="cz.anty.purkynka.account.active"
            android:exported="false"
            android:label="@string/label_provider_account_active"
            android:process=":providers" />
        <provider
            android:name=".update.save.UpdateDataProvider"
            android:authorities="cz.anty.purkynka.update.data"
            android:exported="false"
            android:label="@string/label_provider_update"
            android:process=":providers" />
        <provider
            android:name=".feedback.save.FeedbackDataProvider"
            android:authorities="cz.anty.purkynka.feedback.data"
            android:exported="false"
            android:label="@string/label_provider_feedback"
            android:process=":providers" />
        <provider
            android:name=".grades.save.GradesDataProvider"
            android:authorities="cz.anty.purkynka.grades.data"
            android:exported="false"
            android:theme="@style/AppTheme.Grades"
            android:label="@string/label_provider_grades"
            android:process=":providers" />
        <provider
            android:name=".grades.save.GradesLoginDataProvider"
            android:authorities="cz.anty.purkynka.grades.login"
            android:exported="false"
            android:theme="@style/AppTheme.Grades"
            android:label="@string/label_provider_grades_login"
            android:process=":providers" />
        <provider
            android:name=".grades.save.GradesPreferencesProvider"
            android:authorities="cz.anty.purkynka.grades.preferences"
            android:exported="false"
            android:theme="@style/AppTheme.Grades"
            android:label="@string/label_provider_grades_preferences"
            android:process=":providers" />
        <provider
            android:name=".wifilogin.save.WifiDataProvider"
            android:authorities="cz.anty.purkynka.wifilogin.data"
            android:exported="false"
            android:theme="@style/AppTheme.WifiLogin"
            android:label="@string/label_provider_wifi"
            android:process=":providers" />
        <provider
            android:name=".wifilogin.save.WifiLoginDataProvider"
            android:authorities="cz.anty.purkynka.wifilogin.login"
            android:exported="false"
            android:theme="@style/AppTheme.WifiLogin"
            android:label="@string/label_provider_wifi_login"
            android:process=":providers" />
        <provider
            android:name=".lunches.save.LunchesDataProvider"
            android:authorities="cz.anty.purkynka.lunches.data"
            android:exported="false"
            android:theme="@style/AppTheme.Lunches"
            android:label="@string/label_provider_lunches"
            android:process=":providers" />
        <provider
            android:name=".lunches.save.LunchesLoginDataProvider"
            android:authorities="cz.anty.purkynka.lunches.login"
            android:exported="false"
            android:theme="@style/AppTheme.Lunches"
            android:label="@string/label_provider_lunches_login"
            android:process=":providers" />
        <provider
            android:name=".lunches.save.LunchesPreferencesProvider"
            android:authorities="cz.anty.purkynka.lunches.preferences"
            android:exported="false"
            android:theme="@style/AppTheme.Lunches"
            android:label="@string/label_provider_lunches_preferences"
            android:process=":providers" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher_foreground" /> <!-- TODO: better image -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
    </application>

</manifest>